* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: rgb(201, 198, 228);
    font-family: 'Lato', sans-serif;
  }
  #page-wrapper {
    position: relative;
    margin: 0 80px;
  }

  #navbar, #logo {
    margin: 0 80px;
  }

  .container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
  }

  input.btn {
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #FCA311;
    border-radius: 2px;
    margin-top: 20px;
    cursor: pointer;
  }
  input.btn:hover {
    background-color: #d2932d;
  }

  .grid {
    display: flex;
  }

   .navbar-brand {

    font-family: 'Dancing Script';


  }

  a#logo.navbar-brand {
    font-size: 30px;
  }

  p#logo {
    font-family: 'Dancing Script';
    font-size: 30px;
    margin: 0 0 10px 0;
  }


  nav {
    font-weight: 400;
    background-color: #14213d;
  }

  div#navbar.collapse.navbar-collapse {
    justify-content: end;
  }


  nav > ul {
    width: 35vw;
    display: flex;
    flex-direction: row;

  }

  a.nav-link:hover {
color: #FCA311;
  }


  #picture {
    margin-top: 0px;
    max-height: 650px;
    display: flex;
    justify-content: center;
  }

  #picture > img, .card {
    width: 100%;
    margin-bottom: 20px;
  }

 

  #services {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    display: flex;
    align-content: center;
    width: calc(100% / 3);
    margin:20px 20px 20px 0px;
    padding-bottom: 2%;
    background-color: #E5E5E5;
    border-radius: 0;
    justify-content: space-between;
  }

  @media (min-width:800px) {
    .product:last-child {
      margin-right: 0;
    }
  }
  
 .service-content {
  width: 100%;
 }

 .service-content > h2{
  margin-top: 5%;
  height: 50%;
  margin-bottom: 0;
 }

 .service-button {
  margin-block: 10%;
  
 
 }

 .product > .service-content > p {
  margin-top: 0%;
 }
 
   
  .product > .service-content > .level {
    background-color: #000000;
    color: #E5E5E5;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
  }

  .product > h2 {
    margin-top: 15px;
  }

  @media (max-width: 800px) {
    #services {
      flex-direction: column;
    }
    .product {
      max-width: 300px;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 10px;
      
    }
  }

.card-img-overlay {
    border: none;
}


  .card-title {
    font-size: 40px;
  }

  #newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 10px;
    background-color: #E5E5E5;

  }

  #newsletter > h2 {
    margin-bottom: 20px;
    word-wrap: break-word;
  }

  #newsletter input[type='email'] {
    max-width: 275px;
    width: 100%;
    padding: 5px;
  }

  #newsletter input[type='submit'] {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: #f1c40f;
  }

  #newsletter input[type='submit']:hover {
    background-color: orange;
    transition: background-color 1s;
  }

  @media (max-width: 650px) {
    #newsletter {
      margin-top: 120px;
    }
  }

  #footer{
    margin-top: 30px;
    background-color: #14213d;
    padding: 20px;
  }

  footer > ul {
    display: flex;
    justify-content: flex-end;
  }

  footer > ul > li {
    padding: 0 10px;
  }

  footer > span {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: rgb(159, 156, 156);
  }

footer a {
    color: orange;
    text-decoration: none;
}

footer ul {
    list-style-type: none;
  }

  #gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
  }
  
  #gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    
  }
  #gallery img:hover { 
    transform: scale(1.05);
    transition: 0.2 all;
  }
  
  #gallery::after {
    content: "";
    width: 350px;
  }

  #about > .card {
    margin-top: 30px;
    border: none;
    background-color: #E5E5E5;


  }

  #gallery-team .img-about img {
    width: 100%;
    max-width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 100px;
  }

  #gallery-team{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 10px;
  }

  blockquote {
    margin: 10px;
}

blockquote p {
    padding: 15px;
   
   
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}

.card-body {
  margin-left: 30px;
  margin-top: 20px;
}

.contact-form, #address  {
  max-width: 80%;
  margin: 0 auto;
  background-color: #E5E5E5;
  padding: 5%;
  margin-top: 20px;
  margin-bottom: 20px;
}

#address {
 background-color: transparent;
 padding: 0%;
}

.reservation-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 10px;
}

.reservation
{
  max-width: 50%;
  margin: 0 auto;
  background-color: #E5E5E5;
  padding: 5%;
  margin-top: 20px;
  margin-bottom: 20px;

}
